.petHomeContainer {
  padding-left: 0 !important;
}

.petHome {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  margin: 24px;
}

.petRoom {
  width: 100vw;
  min-height: 500px;
  height: 80vh;
}
