.spriteAnimation {
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: var(--yPos);
  background-size: cover;
  animation: play .8s infinite;
}

@keyframes play {
  0% {
    background-image: var(--tile0);
  }

  25% {
    background-image: var(--tile1);
  }

  50% {
    background-image: var(--tile2);
  }

  75% {
    background-image: var(--tile1);
  }

  100% {
    background-image: var(--tile0);
  }
}